<!-- content -->
<div id="content">
  <div class="container">
    <!-- main-banner-big begin -->
    <div class="main-banner-big">
      <div class="inner">
        <h1><%= t  'title' %></h1>
        <a href="/about" class="button"><%= t 'more' %></a>
      </div>
    </div>
    <!-- main-banner-big end -->
    <div class="wrapper">
      <div class="col-1 maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="border-top maxheight">
            <div class="border-right maxheight">
              <div class="border-bot maxheight">
                <div class="border-left maxheight">
                  <div class="left-top-corner maxheight">
                    <div class="right-top-corner maxheight">
                      <div class="right-bot-corner maxheight">
                        <div class="left-bot-corner maxheight">
                          <div class="inner">
                            <h2><%= t 'news' %></h2>
                            <ul class="list1">
                              <li>
                                <p>先知软件有限公司成立.</p>
                                <!-- <a href="#">更多</a> -->
                              </li>
                            </ul>
                            <!-- <a href="#" class="button"><em><b>GO TO NEWS SECTION</b></em></a> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- box end -->
      </div>
      <div class="col-2 maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="border-top maxheight">
            <div class="border-right maxheight">
              <div class="border-bot maxheight">
                <div class="border-left maxheight">
                  <div class="left-top-corner maxheight">
                    <div class="right-top-corner maxheight">
                      <div class="right-bot-corner maxheight">
                        <div class="left-bot-corner maxheight">
                          <div class="inner">
                            <h2><%= t 'team' %></h2>
                            <ul class="list2">
                              <li>
                                <img alt="" src="/assets/avatar/wxianfeng.jpg" style="width:87px;height:87px;"/>
                                <h5>xianfeng</h5>
                                后端攻城狮
                              </li>
                              <li>
                                <img alt="" src="/assets/avatar/zhangliang.jpg" style="width:87px;height:87px;"/>
                                <h5>zhangliang</h5>
                                前端攻城狮
                              </li>
                              <li>
                                <img alt="" src="/assets/avatar/chonglong.png" style="width:87px;height:87px;"/>
                                <h5>chonglong</h5>
                                运营
                              </li>
                            </ul>
                            <!-- <a href="#" class="button"><em><b>The Rest of Team</b></em></a> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- box end -->
      </div>
      <div class="col-3 maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="border-top maxheight">
            <div class="border-right maxheight">
              <div class="border-bot maxheight">
                <div class="border-left maxheight">
                  <div class="left-top-corner maxheight">
                    <div class="right-top-corner maxheight">
                      <div class="right-bot-corner maxheight">
                        <div class="left-bot-corner maxheight">
                          <div class="inner">
                            <h2><%= t 'feature_partners' %></h2>
                            <ul class="list2">
                              <li>
                                <img alt="" src="assets/image_51x51.gif" />
                                <h6><a href="#">无锡瑞风软件有限公司.</a></h6>
                              </li>
                              <li>
                                <img alt="" src="assets/image_51x51.gif" />
                                <h6><a href="#">常州联佳网络科技有限公司.</a></h6>
                              </li>
                              <li>
                                <img alt="" src="assets/image_51x51.gif" />
                                <h6><a href="#">南京奔创数码科技有限公司.</a></h6>
                              </li>
                            </ul>
                            <!-- <a href="#" class="button"><em><b>View All Partners</b></em></a> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- box end -->
      </div>
    </div>
  </div>
</div>

<!--
<div id="extra-content">
  <div class="container">
    <div class="wrapper">
      <div class="col-1 maxheight">
        <div class="box maxheight">
          <div class="border-top maxheight">
            <div class="border-right maxheight">
              <div class="border-bot maxheight">
                <div class="border-left maxheight">
                  <div class="left-top-corner maxheight">
                    <div class="right-top-corner maxheight">
                      <div class="right-bot-corner maxheight">
                        <div class="left-bot-corner maxheight">
                          <div class="inner">
                            <h2>About Us</h2>
                            <img class="img-indent" alt="" src="assets/image_87x66.gif" />
                            A perfect place to tell a couple of words about your company - just a little bit of introduction, leave the rest for a proper page.
                            <div class="clear"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 maxheight">
        <div class="box maxheight">
          <div class="border-top maxheight">
            <div class="border-right maxheight">
              <div class="border-bot maxheight">
                <div class="border-left maxheight">
                  <div class="left-top-corner maxheight">
                    <div class="right-top-corner maxheight">
                      <div class="right-bot-corner maxheight">
                        <div class="left-bot-corner maxheight">
                          <div class="inner">
                            <h2>Testimonial</h2>
                            <img class="img-indent" alt="" src="assets/image_87x66.gif" />
                            <h5>Testimonial Name</h5>
                            We know you love it - showing off how your customers love you and your company. Therefore there should be a place for it - which is here.
                            <div class="clear"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<script type="text/javascript">
  $(function(){
    $('body').attr("id",'page1');
    $('#index').addClass('first-current');
  })
</script>
