<div id="footer">
  <div class="container">
    <!--
    <ul class="nav">
      <li><a href="/"><%= t 'index' %></a>|</li>
      <li><a href="/solutions"><%= t 'solutions' %></a>|</li>
      <li><a href="/partners"><%= t 'partners' %></a>|</li>
      <li><a href="/jobs"><%= t 'jobs' %></a>|</li>
      <li><a href="/about"><%= t 'about' %></a>|</li>
      <li><a href="/contact"><%= t 'contact' %></a></li>
    </ul>
    -->
    <div class="wrapper">
      <!-- <div class="fleft">Copyright &copy; 2012</div> -->
      <div class="center">Copyright &copy; 2012</div>
      <!-- <div class="fright"><a href="http://www.cssmoban.com/flash-templates.php">Flash Templates</a> from TemplateMonster - Squeeze Your Competitors.</div> -->
    </div>
  </div>
</div>