<div id="header">
  <div class="container">
    <div class="row-1">
      <div class="logo"><a href="index.html" style="font-size:42px;text-decoration: none;"><!-- <img alt="" src="assets/logo.jpg" /> -->
        北京先知软件有限公司</a></div>
      <ul class="top-links">
        <li><a href="index.html"><img alt="" src="assets/top-icon1.jpg" /></a></li>
        <li><a href="#"><img alt="" src="assets/top-icon2.jpg" /></a></li>
        <li><a href="contact-us.html"><img alt="" src="assets/top-icon3.jpg" /></a></li>
      </ul>
    </div>
    <div class="row-2">
      <!-- nav box begin -->
      <div class="nav-box">
        <div class="left">
          <div class="right">
            <ul>
              <li><a href="/" id="index"><em><b><%=t 'index' %></b></em></a></li>
              <li><a href="/cases" id="solutions"><em><b><%=  t 'cases' %></b></em></a></li>
              <li><a href="/solutions" id="partners"><em><b><%= t 'solutions'   %> </b></em></a></li>
              <li><a href="/jobs" id="jobs"><em><b><%= t 'jobs' %></b></em></a></li>
              <li><a href="/about" id="about"><em><b><%= t 'about' %></b></em></a></li>
              <li><a href="/contact" id="contact" class="last"><em><b><%= t 'contact' %></b></em></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- nav box end -->
    </div>
  </div>
</div>